**/node_modules
.env
/dist

/packages/*/dist
/packages/*/smart-contracts
/packages/*/coverage

/coverage
/credentials/gitlab_write_token

/blockchain/**/artifacts
/blockchain/**/cache
/blockchain/**/types
/blockchain/**/.openzeppelin


docs/*
!docs/.gitinclude
pretty_docs
docs
.npmrc
