@import "src/utils/global";

.Container {
  width: 95%;
  margin: 0 auto;

  h2 {
    text-align: left;
    padding-bottom: 20px;
  }
}

.Center {
  z-index: -1;
  top: 0;
  opacity: 0.8;
  margin: 0 auto auto;

  .Image {
    max-width: 25%;
  }
}

.Form {
  margin: auto;
  text-align: left;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 5px;
  grid-template-areas:
    "company company"
    "user user"
    "login login"
    "confirm confirm";

  label {
    font-weight: bold !important;
    font-size: 22px;
  }

  .CompanyContainer {
    grid-area: company;

    .TitleArea {
      width: 100%;
    }

    .CompanyArea {
      display: grid;
      padding: 15px;
      grid-column-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "name code"
      "role website"
      "country state"
      "city address"
      "latitude longitude";

      .NameArea {
        grid-area: name;
      }

      .CodeArea {
        grid-area: code;
      }

      .RoleArea {
        grid-area: role;
      }

      .WebsiteArea {
        grid-area: website;
      }

      .CountryArea {
        grid-area: country;
      }

      .StateArea {
        grid-area: state;
      }

      .CityArea {
        grid-area: city;
      }

      .Address1Area {
        grid-area: address;
      }

      .LatitudeArea {
        grid-area: latitude;
      }

      .LongitudeArea {
        grid-area: longitude;
      }
    }
  }

  .UserContainer {
    grid-area: user;

    .TitleArea {
      width: 100%;
    }

    .UserArea {
      display: grid;
      padding: 15px;
      grid-column-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "firstname lastname"
        "email phoneNumber"
        "state city"
        "zipCode address1";

      .NameArea {
        grid-area: firstname;
      }

      .CodeArea {
        grid-area: lastname;
      }

      .StateArea {
        grid-area: state;
      }

      .CityArea {
        grid-area: city;
      }

      .ZipCodeArea {
        grid-area: zipCode;
      }

      .PhoneNumberArea {
        grid-area: phoneNumber;
      }

      .Address1Area {
        grid-area: address1;
      }

      .EmailAddressArea {
        grid-area: email;
      }
    }
  }

  .LoginContainer {
    grid-area: login;

    .TitleArea {
      width: 100%;
    }

    .LoginArea {
      display: grid;
      padding: 15px;
      grid-column-gap: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "username password";

      .UsernameArea {
        grid-area: username;
      }

      .CityArea {
        grid-area: password;
      }

      .ShowPassword {
        cursor: pointer;
        border-radius: 0 .25rem .25rem 0;
      }
    }
  }

  .ConfirmArea {
    grid-area: confirm;
    text-align: center;
  }

}

@media (max-width: 1224px) {
  .Form {
    grid-template-columns: 1fr;
    grid-template-areas:
    "company"
    "user"
    "login"
    "confirm";

    .CompanyContainer {
      grid-area: company;
      .CompanyArea {
        grid-template-columns: 1fr;
        grid-template-areas:
          "name"
          "code"
          "role"
          "website"
          "country"
          "state"
          "city"
          "address";
      }
    }

    .UserContainer {
      grid-area: user;
      .UserArea {
        grid-template-columns: 1fr;
        grid-template-areas:
          "firstname"
          "lastname"
          "email"
          "phoneNumber"
          "state"
          "city"
          "zipCode"
          "address1";
      }
    }

    .LoginContainer {
      grid-area: login;
      .LoginArea {
        grid-template-columns: 1fr;
        grid-template-areas:
          "username"
          "password";
      }
    }

  }
}

@media (max-width: 768px) {
  .Container {
    width: 100%;
  }
}