.translateOpen {
  transform: translateX(0);
}
.translateClose {
  transform: translateX(-100%);
  display: none;
}
.Expanded {
  width: 25rem !important;
  .Logo {
    width: 80% !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
.BurgerContainer {
  padding: 1rem;
  width: 100vw;
  height: 4rem;
  background: #343A40;
  display: flex;
  justify-content: space-between;
  .LogoContainer{
    .Logo {
      height: 2rem;
      width: auto;
      margin-right: 1rem;
    }
  }
}
.Compressed {
  .LogoContainer {
    display: none;
  }
}
.Menu {
  display: flex;
  flex-direction: column;
  background: #343A40;
  height: 100vh;
  width: 25rem;
  text-align: left;
  padding: 1rem 2rem 2rem;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;

  color: white;
  z-index: 1;
  overflow-x: hidden;

  .LogoContainer {
    width: 100%;
    .Logo {
      width: 60%;
      display:block;
      margin-right: 0;
      margin-left: auto;
    }
  }
  .LinkContainerRow {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 1rem;
    min-height: 3rem;
    color: white;
    text-decoration: none;
    &:hover:enabled{
      background-color: lighten(#343A40, 10%);
    }
  }
  .IconLinkContainer {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .MainLinkContainer {
    min-height: 3rem;
    line-height: 3rem;
  }
  .HeaderContainerRow {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 1rem;
    min-height: 3rem;
    color: #368EDE;
    text-decoration: none;
  }
}
.Divider {
  width: 90%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1vh auto;
}
.LinkContainerRowSelected {
  color: #368EDE !important;
  border-left: 3px solid #368EDE;
}
.HeaderRowSelected {
  color: #368EDE !important;
}
.SingleInfo {
  margin: 0;
  padding: 0;
  max-height: 2rem;
  display: flex;
}